{% extends 'main.html' %}
{% load static %}
{% block title %}About us{% endblock %}
{% block main %}
<!-- First Section -->
<div class="container-fluid bg-img-cover p-5" style="background-image: url({% static 'img/about-bg-img.jpg' %})">
	<div class="row p-5 justify-content-center">
		<div class="col-10 col-md-8 p-4 p-md-5 text-bg-light d-flex justify-content-center">
			<div class="w-75 p-md-5 m-md-5 text-center w-mb-100">
				<h2 class="text-color-primary">Why choose Tulip?</h2>
				<div class="border-1 border-bottom border-dark w-25 mb-5 mt-3 mx-auto"></div>
				<p class="p1 fw-light my-5" align="justify">
					Here at Tulip we are a highly experienced company with a fully integrated fabrication system to
					bring your idea come to life. Tulip has been in the stone and precast business for over 15 years
					bringing you the best quality and service. Our projects range from upscale luxury housing down to
					small scale restoration of any property. Our skilled artisans along with state of the art
					fabrication techniques provides our customers with highest quality finishes. Each piece is custom
					made and sculpted in house. We thrive in using the finest quality material to bring each design to
					life.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="container my-5 py-5">
	<div class="row justify-content-center">
		<div class="col-12 col-md-9 text-center">
			<h2 class="text-color-primary my-md-5">Ontario is leading stone firm</h2>
			<div class="border-1 border-bottom border-dark w-25 my-3 my-md-5 mt-3 mx-auto"></div>
			<p class="p1 fw-light mt-5 text-md-center" align="justify">
				Tulip operates in Toronto and specializes in all concrete based projects with our new innovative
				technology. Our projects range from large-scale luxury housing in the heart of Toronto down to
				small-scale restorations of any property.
			</p>
		</div>
	</div>
</div>
<!-- 3 items section -->
<div class="container my-5 py-5">
	<div class="row">
		<div class="col text-center">
			<h2 class="text-color-primary my-md-5">Our Values</h2>
			<div class="border-1 border-bottom border-dark w-25 my-3 my-md-5 mx-auto"></div>
		</div>
	</div>
	<div class="row justify-content-between my-5">
		<div class="col-12 col-md-3 text-center">
			<img src="{% static 'img/about-vector-1.png' %}">
			<h3 class="my-md-5 my-4">Creative</h3>
			<!--			<p class="p3 fw-light text-color-gray" align="justify">-->
			<!--				Since its designers come from varied international backgrounds, it thrives on using its work to tell a-->
			<!--				collective story showcasing its multi-cultural heritage, creative sensibilities and extensive expertise.-->
			<!--			</p>-->
		</div>
		<div class="col-12 col-md-3 text-center my-5 my-md-0">
			<img src="{% static 'img/about-vector-2.png' %}">
			<h3 class="my-md-5 my-4">Innovation</h3>
			<!--			<p class="p3 fw-light text-color-gray" align="justify">-->
			<!--				Design Determination is a dynamic group of Toronto based designers who are passionate about-->
			<!--				creating inspired exterior and interior spaces.-->
			<!--			</p>-->
		</div>
		<div class="col-12 col-md-3 text-center">
			<img src="{% static 'img/about-vector-3.png' %}">
			<h3 class="my-md-5 my-4">Reliability</h3>
			<!--			<p class="p3 fw-light text-color-gray" align="justify">-->
			<!--				Astern Star specializes in Toronto area luxury development. Its mission is to develop supremely-->
			<!--				comfortable and contemporary residences in a natural environment.-->
			<!--			</p>-->
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
{% endblock %}
