{% extends 'main.html' %}
{% load static %}
{% block title %}Tulip Stone{% endblock %}
{% block main %}
<!-- Slider -->
<div class="vh-100" style="">
	<div class="h-100 w-100 d-flex">
		<div class="w-100">
			<h1 class="slider-title position-absolute overflow-hidden text-dark-green">
				Leaders in Cut</br>
				Stone Fabrication</br>
				and Restoration
			</h1>
			<h5 class="slider-subtitle fw-normal position-absolute overflow-hidden text-white">over 1000 projects
				designed manufactured and installed in the heart of Toronto.</h5>
			<!-- The video  -->
			<video class="object-fit-cover" src="{% static 'video/first.mp4' %}" autoplay loop muted
			       playsinline
			       width="100%" height="100%"></video>
		</div>
	</div>
</div>
<!-- picture slider -->
<div class="container-fluid p-0">
	<div id="carouselExampleCaptions"  class="carousel slide"  data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
			<img src="{{ setting.img_selider_one.url }}" class="d-block w-100 object-fit-cover object-position-center" alt="image slider one">
			<div class="carousel-caption d-none d-md-block caption-box">
				<h3>First slide label</h3>
				<p class="p1 mt-2">Some representative placeholder content for the first slide.</p>
			</div>
			</div>
			<div class="carousel-item">
			<img src="{{ setting.img_selider_two.url }}" class="d-block w-100 object-fit-cover object-position-center" alt="image slider two">
			<div class="carousel-caption d-none d-md-block caption-box">
				<h3>Second slide label</h3>
				<p class="p1 mt-2">Some representative placeholder content for the second slide.</p>
			</div>
			</div>
			<div class="carousel-item">
			<img src="{{ setting.img_selider_three.url }}" class="d-block w-100 object-fit-cover object-position-center" alt="image slider three">
			<div class="carousel-caption d-none d-md-block caption-box">
				<h3>Third slide label</h3>
				<p class="p1 mt-2">Some representative placeholder content for the third slide.</p>
			</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
<!-- Vitualization Section -->
<div class="container-fluid section-2 bg-img-cover py-md-5 height-656 px-0 bg-color-dark-green overflow-hidden">
	<div class="row justify-content-between h-100 align-content-center pe-md-5">
		<div class="col-12 col-md align-items-center p-md-0 p-3">
			<video src="{% static 'video/second.mp4' %}" autoplay loop muted
			       playsinline
			       width="100%" height="100%"></video>
		</div>
		<div class="col-12 col-md-4 align-self-center me-md-5 py-md-0 py-5 px-4">
			<h2 class="text-primary-color">Design Your Project</h2>
			<p class="p1 fw-light my-4 w-75 text-white w-mb-100" align="justify">
				We would love to be a part of your special house designing project. May it be for renovation or a new built, our new “design your project” feature allows you to upload your drawings and create designs that you have imagined. The tools in this section will give you a chance to be creative and design what you have desired. Feel free to use this model and allow us to help you create magic.
			</p>
			<button class="button-3 py-2 px-5 ls-3">Find More</button>
		</div>
	</div>
</div>
<!-- 3 Categories -->
<div class="container py-5 my-5">
	<div class="row justify-content-between">
		<div class="col-12 col-md text-center">
			<img src="{% static 'img/stonnew.jpg' %}" width="100%" class="border3"/>
			<h3 class="mt-4 mb-2">Stone</h3>
			<p class="p1" align="justify">We offer the highest quality natural stone fabrication. Whether is it for a house project or a commercial project our company can cut any size and shape of stone as per our customer preferences.</p>
		</div>
		<div class="col-md-1"></div>
		<div class="col-12 col-md text-center my-5 my-md-0 py-4 py-md-0">
			<img src="{% static 'img/pre-new.jpg' %}" width="100%" class="border3"/>
			<h3 class="mt-4 mb-2">Precast</h3>
			<p class="p1" align="justify">Whether you need a simple wall panel or a unique complex design our team can build best designs for our clients and bring your imagination to life.</p>
		</div>

		<div class="col-md-1"></div>
		<div class="col-12 col-md text-center">
			<img src="{% static 'img/bricknew.jpg' %}" width="100%" class="border3"/>
			<h3 class="mt-4 mb-2">Brick</h3>
			<p class="p1" align="justify">We are leading suppliers for Brick in the GTA. We offer competitive prices that our competitors can’t beat.</p>
		</div>
	</div>
</div>
<!-- Section -->
<div class="container-fluid section-3">
	<div class="row align-items-center height-999 bg-color-dark-green flex-wrap-reverse flex-md-wrap">
		<div class="col-12 col-md-7 px-0 my-md-5 py-5">
			<div class="d-flex justify-content-around mt-md-5">
				<h2 class="w-50 text-color-primary section-7 w-mb-100 px-5 px-md-0">Dedicated to Fabricating the Finest Cut Stone Products
					Possible</h2>
			</div>
			<div class="border-1 border-bottom w-50 border-white my-5 line-one"></div>
			<div class="d-flex justify-content-around">
				<p class="p1 w-50 fw-light text-white w-mb-100 px-5 px-md-0" align="justify">We understand the architectural demands of building
					residential homes, commercial buildings, and institutional structures. When you are designing cut
					stone components, you must balance the needs of structural integrity, aesthetics, fit and finish,
					and cost. We have the experience, the technology, the craftsmanship, and the creativity to develop
					unique, customized cut stone solutions that can meet your most demanding architectural
					requirements.</p>
			</div>
		</div>
		<div class="col-12 col-md-5 p-0">
			<div class="h-100">
				<img class="object-fit-cover object-position-center w-100 height-999" src="{% static 'img/section-four.jpg' %}">
			</div>
		</div>
	</div>
</div>
<!-- Brochure Section -->
<div class="container-fluid tesxt-center p-0 section-4">
	<img src="{% static 'img/2624.jpg' %}" width="100%">
</div>
<!-- One Sentence Section -->
<div class="container-fluid tesxt-center my-5 py-5 section-5 overflow-hidden">
	<div class="row justify-content-center">
		<div class="col-3 col-md-3 align-self-center p-0">
			<div class="w-100 border-1 border-dark border-bottom line-two"></div>
		</div>
		<div class="col-12 col-md align-self-center px-5 my-5 my-md-0">
			<h2 class="text-primary-color text-md-start text-center">Dedicated to Fabricating the Finest Cut Stone Products Possible</h2>
		</div>
		<div class="col-3 col-md-3 align-self-center p-0">
			<div class="w-100 border-1 border-dark border-bottom line-three"></div>
		</div>
	</div>
</div>
<!-- Wide Picture Section -->
<div class="container-fluid p-0 section-6">
	<div class="row justify-content-center">
		<div class="col-12 px-0">
			<img class="" src="{% static 'img/last-section.jpg' %}" width="100%">
		</div>
	</div>
	<div class="row bg-color-dark-green justify-content-center py-5">
		<div class="col-11 col-md-8 my-5">
			<h4 class="fw-light text-white section-8" align="justify">
				We understand the architectural demands of building residential homes, commercial buildings, and
				institutional structures. When you are designing cut stone components, you must balance the needs of
				structural integrity, aesthetics, fit and finish, and cost. We have the experience, the technology, the
				craftsmanship, and the creativity to develop unique, customized cut stone solutions that can meet your
				most demanding architectural requirements.
			</h4>
		</div>
	</div>
</div>
<!-- Video Section -->
<div class="w-100 height-656 bg-img-cover section-7 overflow-hidden">
	<!-- The video  -->
	<video src="{% static 'video/third.mp4' %}" autoplay loop muted
			       playsinline
			       width="100%"></video>
</div>
<!-- 3 Blogs -->
{% if blogs %}
<div class="container py-5 my-5">
	<div class="row justify-content-between pb-5">
		<div class="d-md-block d-none col-md-1 align-self-center">
			<h1 class="text-primary-color">B</h1>
			<h1 class="text-primary-color">L</h1>
			<h1 class="text-primary-color">O</h1>
			<h1 class="text-primary-color">G</h1>
		</div>
		<div class="d-block d-md-none col-12 align-self-center text-center border-bottom border-1 border-dark">
			<h1 class="text-primary-color">BLOG</h1>
		</div>
		<div class="col-12 col-md-11">
			<div class="container px-0">
				<div class="row">
					{% for blog in blogs %}
					<div class="col-12 col-md-4 my-5 my-md-0 py-4 py-md-0 px-md-1 px-0">
						<div class="bg-color-dark-green p-3">
							<img src="{{blog.img.url}}" width="100%" height="250px" class="object-fit-cover"/>
							<h5 class="text-primary-color mt-4 mb-2">{{blog.title|slice:":20"}}</h5>
							<div class="border-bottom border-1 mb-3"></div>
							<p class="p3 fw-light text-white" align="justify">{{blog.short_description|slice:":200"}} ...</p>
							<div class="w-100 text-end mt-3">
								<p class="p3 text-end text-secondary">{{blog.create_at|date:"Y.m.d"}}</p>
							</div>
							<a class="button-2 text-white py-2 px-4 position-absolute mtn-2" href="{{blog.get_absolute_url}}">Read More</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
{% block script %}
{% endblock %}
