{% extends 'main.html' %}
{% load static %}
{% block title %}{{ main_product.title }}{% endblock %}
{% block main %}
<!-- Header -->
<div class="container-fluid bg-img-cover height-483"
     style="background-image: url({% static 'img/stone-header-bg.jpg' %})">
	<div class="row justify-content-center h-100 align-items-center">
		<div class="col-3 text-center">
			<img src="{{ main_product.product_img.url }}" height="165px">
		</div>
		<div class="col-4">
			<h3 class="text-uppercase fw-light">{{ main_product.title }}</h3>
			<div class="w-25 border1 mt-3 mb-4"></div>
			<p class="p3 fw-light">{{ main_product.description }}</p>
		</div>
	</div>
</div>
<!-- Gallery -->
<div class="container-fluid px-5 my-5 pb-5 overflow-hidden portfolio">
	<div class="row g-5 mx-4 my-5 w-100">
		{% for item in sub_products %}
		<a href="{{ item.get_absolute_url }}"
		   class="products-card {% if forloop.counter|divisibleby:5 or forloop.counter|divisibleby:8 %}col-8{% else %}col-4{% endif %} height-289">
			<div class="content justify-content-between px-5">
				<span class="title">{{item.title}}</span>
				<span class="title d-flex align-items-center"><iconify-icon
						icon="material-symbols:arrow-forward-ios-sharp"></iconify-icon></span>
			</div>
			<div class="image">
				<img class="w-100 h-100 object-fit-cover" src="{{ item.title_img.url }}">
			</div>
		</a>
		{% endfor %}

	</div>
</div>

{% endblock %}
{% block script %}
{% endblock %}
