{% extends 'main.html' %}
{% load static %}
{% block title %}{{ main_product.title }}{% endblock %}
{% block main %}
<!-- Header -->
<div class="container-fluid bg-img-cover height-600"
     {% if main_product.header_bg_img %}
     style="background-image: url({{main_product.header_bg_img.url}})"
     {% else %}
     style="background-image: url({% static 'img/stone-header-bg.jpg' %})"
     {% endif %}
>
	<div class="row height-136"></div>
	<div class="row justify-content-center h-75 align-items-center py-5 py-md-0">
		<div class="col-12 col-md-3 text-center">
			{% if main_product.product_img %}
			<img src="{{ main_product.product_img.url }}" height="165px">
			{% else %}
			<img src="{% static 'img/stone-icon.png' %}" height="165px">
			{% endif %}
		</div>
		<div class="col-10 col-md-4 mt-md-0 mt-5">
			<h3 class="text-uppercase fw-light">{{ main_product.title }}</h3>
			<div class="w-25 border1 mt-3 mb-4"></div>
			<p class="p3 fw-light">{{ main_product.description }}</p>
		</div>
	</div>
</div>
<!-- Gallery -->
<div class="container px-md-5 px-4 my-5 pb-5 overflow-hidden portfolio">
	{% for item in sub_products %}
	<div class="row justify-content-between my-md-5 my-0 py-5">
		{% if forloop.counter|divisibleby:2 %}
		<div class="col-12 col-md-6 align-self-center text-end">
			<h2 class="text-dark-green my-5 mt-md-0">{{item.title}}</h2>
			<!--			<p class="p1 my-5">{{item.short_description}}</p>-->
			<a class="button-4 py-2 px-5 ls-3" href="
					{% if item.status == 'True' %}
							{{ item.get_absolute_url }}
					{% else %}
							{% url 'coming_soon' %}
					{% endif %}
					">
				Read More
			</a>
		</div>
		<div class="col-12 col-md-5 align-self-center mt-5 mt-md-0">
			<img class="w-100 object-fit-cover" src="{{ item.title_img.url }}" height="395px">
		</div>
		{% else %}
		<div class="col-12 col-md-5 align-self-center">
			<img class="w-100 object-fit-cover" src="{{ item.title_img.url }}" height="395px">
		</div>
		<div class="col-12 col-md-6 align-self-center">
			<h2 class="text-dark-green my-5 mt-md-0">{{item.title}}</h2>
			<!--			<p class="p1 my-4">{{item.short_description}}</p>-->
			<a class="button-4 py-2 px-5 ls-3" href="
					{% if item.status == 'True' %}
							{{ item.get_absolute_url }}
					{% else %}
							{% url 'coming_soon' %}
					{% endif %}
					">
				Read More
			</a>
		</div>
		{% endif %}
	</div>
	{% endfor %}
</div>

{% endblock %}
{% block script %}
{% endblock %}
