{% extends 'main.html' %}
{% load static %}
{% block title %}{{ main_product2.title }}{% endblock %}
{% block main %}
<!-- Header -->
<div class="container-fluid bg-img-cover height-483"
     style="background-image: url({% static 'img/stone-header-bg.jpg' %})">
	<div class="row justify-content-center h-100 align-items-center">
		<div class="col-3 text-center">
			<img src="{{ main_product2.product_img.url }}" width="100%">
		</div>
		<div class="col-4">
			<h3 class="text-uppercase fw-light">{{ main_product2.title }}</h3>
			<div class="w-25 border1 mt-3 mb-4"></div>
			<p class="p3 fw-light">{{ main_product2.description }}</p>
		</div>
	</div>
</div>
<!-- Product Contents -->
<div class="container">
	<div class="row justify-content-center">
		<div class="col-2 text-center border1">
			<h3 class="fw-bolder mt-5 mb-4">{{ main_product2.title }}</h3>
		</div>
	</div>
	<div class="row justify-content-center my-5">
		<div class="col-9 pt-5 sub_product_desc">
			{{ main_product2.description|safe }}
		</div>
	</div>
	{% if gallery %}
	<!-- Flickity Carousel -->
	<div class="row justify-content-center my-5">
		<div class="col py-5">
			<!-- Flickity HTML init -->
			<div class="carousel"
			     data-flickity='{
			   "freeScroll": true,
			   "cellAlign": "left",
			   "contain": true,
			   "prevNextButtons": false,
				"pageDots": false
			   }'>
				{% for pic in gallery %}
				<img class="carousel-cell" src="{{ pic.image.url }}">
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
</div>

{% endblock %}
{% block script %}
{% endblock %}
