{% extends 'main.html' %}
{% load static %}
{% block title %}
{{ sub_product.title }}
{% endblock %}
{% block main %}
<!-- Header Background -->
<div class="container-fluid">
	<div class="row">
		<img class="p-0" src="{% static 'img/sub-product-header-bg.jpg' %}"/>
	</div>
</div>
<!-- Sub Product Contents -->
<div class="container">
	<div class="row mtn-1">
		<div class="col text-center">
			<img src="{{ sub_product.header_img.url }}" width="100%"/>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-2 text-center border1">
			<h3 class="fw-bolder mt-5 mb-4">{{ sub_product.title }}</h3>
		</div>
	</div>
	<div class="row justify-content-center mt-5">
		<div class="col-9 pt-5 sub_product_desc">
			{{ sub_product.description|safe }}
		</div>
	</div>
	<!-- Flickity Carousel -->
	<div class="row justify-content-center my-5">
		<div class="col py-5">
			<!-- Flickity HTML init -->
			<div class="carousel"
			  data-flickity='{
			   "freeScroll": true,
			   "cellAlign": "left",
			   "contain": true,
			   "prevNextButtons": false,
				"pageDots": false
			   }'>
				{% for pic in gallery %}
				<img class="carousel-cell" src="{{ pic.image.url }}">
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- Contact Form -->
<div class="container-fluid bg-color-secondary py-5 mb-5">
	<div class="container py-5">
		<div class="row">
			<div class="col text-center">
				<h3 class="fw-light pb-5">Send us a <span class="fw-bold">Message</span></h3>
				<form method="post">
				    {% csrf_token %}
				    <div class="container w-75 mt-5">
					    <div class="row">
						    <div class="col text-start">
							    {{ form.first_name.errors }}</br>
							    {{ form.first_name.label_tag }}</br>
							    {{ form.first_name }}
						    </div>
						    <div class="col text-start">
							    {{ form.last_name.errors }}</br>
							    {{ form.last_name.label_tag }}</br>
							    {{ form.last_name }}
						    </div>
					    </div>
						<div class="row my-5">
						    <div class="col text-start">
							    {{ form.email.errors }}</br>
							    {{ form.email.label_tag }}</br>
							    {{ form.email }}
						    </div>
						    <div class="col text-start">
							    {{ form.phone_number.errors }}</br>
							    {{ form.phone_number.label_tag }}</br>
							    {{ form.phone_number }}
						    </div>
					    </div>
					    <div class="row">
						    <div class="col text-start">
							    {{ form.message.errors }}</br>
							    {{ form.message.label_tag }}</br>
							    {{ form.message }}
						    </div>

					    </div>
					    <div class="row mt-5">
						    <div class="col-4 text-start pt-5">
							    <input class="button-2 py-2 w-100" type="submit" value="Send Message">
						    </div>
					    </div>
				    </div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid py-5 mb-5"></div>
{% endblock %}
{% block script %}

{% endblock %}
